<phpunit
  bootstrap="tests/bootstrap.php"
  printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
  backupGlobals="false"
  backupStaticAttributes="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
>
  <testsuites>
    <testsuite name="money">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <includePath>.</includePath>
    <const name="ZLS_UNIT" value="true"/>
  </php>
</phpunit>
